* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #1f2937;
    border-bottom: #e5e7eb solid 1px;
    position: sticky;
    top: 0;
}

.header-logo-text {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.links a {
    text-decoration: none;
    color: #e5e7eb;
}

a:hover {
    text-decoration: underline;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    background-color: #1f2937;
    padding-top: 50px;
    padding-bottom: 100px;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.links a,
.sub-text {
    font-size: 18px;
    color: #e5e7eb;
}

.cat {
    width: 400px;
    height: auto;
    display: flex;
}

button {
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: 100px;
    background-color: #3882f6;
}

button a {
    text-decoration: none;
    color: #e5e7eb;
}

/* INFO SECTION */
.info-title {
    text-align: center;
    padding: 20px;
    font-size: 28px;
    font-weight: 900;
    color: #1f2937;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-bottom: 100px;
}

.info-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #3882f6;
    border-radius: 8px;
    margin-bottom: 10px;
}

.info-text {
    width: 150px;
    font-size: 12px;
    text-align: center;
    color: #1f2937;
}

/* QUOTE SECTION */
.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 50px;
    background: #e5e7eb;
}

.quote {
    max-width: 600px;
}

.quote p {
    font-size: 28px;
    font-style: italic;
    color: #1f2937;
}

.quote-author {
    text-align: right;
    margin-top: 10px;
}

.quote-author p {
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
}

/* CALL TO ACTION */
.action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 65px;
}

.action {
    display: flex;
    align-items: center;
    gap: 100px;
    background: #3882f6;
    padding: 25px 100px;
    border-radius: 5px;

}

.action-text {
    color: #e5e7eb;
}

.action-subtext {
    font-size: 12px;
}

.action button {
    border: #f9faf8 1px solid;
}

.action button a:hover {
    text-decoration: none;
    font-weight: bold;
}

/* FOOTER */
footer {
    background: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.footer-text,
.footer-logo {
    font-size: 12px;
    color: #e5e7eb;
}